---
layout: page
---

{{ content }}

<ul class="taxonomy-index">
  {% assign updatesInYear = site.updates | group_by_exp: 'update', 'update.date | date: "%Y"' %}
  {% assign updatesInYear = updatesInYear | sort: 'name' | reverse %}
  {% for year in updatesInYear %}
    <li>
      <a href="#{{ year.name }}">
        <strong>{{ year.name }}</strong> <span class="taxonomy-count">{{ year.items | size }}</span>
      </a>
    </li>
  {% endfor %}
</ul>

{% assign updatesByYear = site.updates | group_by_exp: 'update', 'update.date | date: "%Y"' %}
{% assign updatesByYear = updatesByYear | sort: 'name' | reverse %}
{% for year in updatesByYear %}
  <section id="{{ year.name }}" class="taxonomy-section">
    <h2 class="taxonomy-title">{{ year.name }}</h2>
    <div class="entries-{{ page.entries_layout | default: 'list' }}">
      {% assign sorted_updates = year.items | sort: 'date' | reverse %}
      {% for update in sorted_updates %}
        {% include entry.html update=update %}
      {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
{% endfor %}